body {
  background-color: #000;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:100;
}

#hudCanvas{
  position: absolute;
  top: 0px;
  left: 10px;
}

#gridCanvas{
  position: absolute;
  top: 230px;
  left: 10px;
}
